body{
    background-color: hsl(212, 45%, 89%);
    overflow-y: hidden;
}
.qrcode{
    width: 290px;
    text-align: center;
    background-color:white;
    padding: 15px 15px;
    margin: 200px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 5px hsl(220, 15%, 55%);
}
h3{
    font-family: 'Outfit', sans-serif;
    color:hsl(218, 44%, 22%);

}
img{
    border-radius: 10px;
    width: 100%;
    
}
p{
    font-family: 'Outfit', sans-serif;
    color:hsl(220, 15%, 55%);
}